*{
	box-sizing: border-box;
}
body, html{
	padding: 0;
	margin: 0;
}
body {
	background: $bgColor;
	color: $color;
	font: 14px/21px;
	font-family: $fontSub;
}
.font{
	font-family: $font;
}
.colorSubMain{
	color: $colorSubMain;
}
.colorMain{
	color: $colorMain;
}
.section {
	&--header{
		height: 100vh;
		background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url(main_backgr.png);
		background-size: cover;
	}
	&__best{
		height: 60vh;
		background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url(bg_best.png);
		background-size: cover;
		margin: 50px 0;
	}
	&__copyright{
		border-top: 1px solid #565656;
		color: #989898;
		padding: 30px 0;
		font-size: 12px;
	}
}
.btns{
	background-color: $colorMain;
	font-weight: normal;
	font-family: $fontSub;
	font-size: $fontSizeMedium;
	padding: 13px 45px;
	color: $color;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 1px solid $colorMain;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}