
.staging__item{
    &:hover{
        .staging__img::after{
            background: transparent;
        }
        .staging__title{
            display: none;
        }
        .staging__text{
            display: none;
        }
        .staging__search{
            display: block;
            }
        }
    .staging__search{
        display: none;
        z-index: 3;
        position: absolute;
        left: 35%;
        bottom: 35%;
    }
    .staging__img{
       position: relative;
       &::after{
        position: absolute;
        content:"";
        height:100%;
        width:100%;
        top:0;
        left:0;
        background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65));
        }
    }
    .staging__picture{
        width: 100%;
        height: auto;
    }
    .staging__title{
        position: absolute;
        z-index: 2;
        left: 2em;
        top: 2em;
    }
    .staging__text{
        position: absolute;
        z-index: 2;
        transform: rotate(-90deg);
        top: 20em;
    }
}

@media  screen and (min-width:1600px) {
    .staging__item{
        .staging__text{
            top: 28em;
        }
        .staging__search{
            left: 40%;
            bottom: 40%;
        }
    }

}