// COLORS
$bgColor:#333;
$color:white;
$colorMain:#D1A954;
$colorSubMain:#C4C4C4;
// FONTS
$font: 'Open Sans', sans-serif;
$fontSub: 'Open Sans Condensed', sans-serif;
$fontSize: 14px;
$fontSizeMedium: 14px;
$fontSizeHigh: 14px;
$fontSizeTitleFirst: 14px;